<div class="search-wrapper">
  <input class="search-input" type="text" placeholder="Пошук..." [(ngModel)]="searchTerm" />
  <button type="button" class="search-button" (click)="onSearch()">Пошук</button>
</div>

<div class="products-grid" *ngIf="products$ | async as products; else loading">
  <app-item-card 
    *ngFor="let product of products" 
    [product]="product"
    (selectProduct)="onSelect($event)"
    appHighlight>
  </app-item-card>
</div>

<div style="text-align: center; margin: 20px;">
  <a routerLink="/add-item" class="details-btn" style="padding: 12px 24px;">
    + Додати товар
  </a>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>